@font-face {
    font-family: 'ethnocentric' ;
    src: url(/ethnocentric/ethnocentric\ rg.ttf);
}
body{
    font-family: 'ethnocentric';
   
}
#title{
  background-color: rgba(8, 8, 8, 0.904);
  color: rgba(209, 209, 209, 0.959);

  
}
.nav-link{
    color: rgba(153, 153, 153, 0.842);
}
.navbar-toggler-icon{
    filter: invert(100%);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
   
}
.container{
    padding: 3% 7% 7%;
   
   
}
.logo{
   width: 5rem;
 
}

.num{
    padding-left: 10%;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 4.5rem;
    padding-top: 0%;
}
.navbar-nav{
   margin-left: 50%;
}
.nav-item{
    padding: 0px 10px;
}
.nav-link{
    font-size: 1rem;
}
.play{
    padding: bottom 5%;
}
.col-lg-6 h1{
    font-size: 3rem;
    line-height: 1.5;
    color: rgba(153, 153, 153, 0.842);
    font-weight: bold;
}
.col-lg-6 p{
   font-size: 13px;
    line-height: 1.3;
    color: rgba(153, 153, 153, 0.842);
}
.col-lg-6 img{
   
    width:100%;
  
} 
.Music{
    display: flex;
    justify-content: space-between;
}
.Music img{
    width: 30%;
}
.mile{
   margin-top: 25px;
   padding-bottom: 25px;
}
.go{
    margin-top: 2%;
}
#product{
    padding: 4% 7% 4% 7%;
    text-align: center;
}
.latext{
    color: rgba(153, 153, 153, 0.842);
   font-weight: bold;
}
.col-md-4{
    margin-bottom: 2.5%;
}
.btn{
     outline: none;
     background-color: rgba(8, 8, 8, 0.904);
}
.btn:hover{
    background-color: rgba(8, 8, 8, 0.904);
}
.card:hover{
    background-color: rgba(8, 8, 8, 0.11);
}
.card{
   margin: auto;
}
#testimonial{
    background-color: rgba(8, 8, 8, 0.904);
}
#footer{
    background-color: rgba(8, 8, 8, 0.904);
    padding: 7% 10% 1% 10%;
    text-align: center;
    color:rgba(153, 153, 153, 0.842);
}
#footer a{
  font-weight: bold;
  color: rgba(153, 153, 153, 0.842);
  font-size: 2rem;
  text-decoration: none;
}
.last{
  margin-top: 7%;
}
.container2{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(8, 8, 8, 0.904);
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.description {
    text-align: center;
    width: 43%;
}

.clientImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clientImage span {
    margin-left: 10px;
}

.clientImage img {
    width: 40px;
}

.reviewSection {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.reviewItem {
    width: 300px;
    padding: 10px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(8, 8, 8, 0.904);
    border: 1px solid rgba(8, 8, 8, 0.904);;
    transition: all .2s linear;
}

.reviewItem:hover {
    border-color: aqua;
    transform: scale(1.01);
    background-color: rgba(8, 8, 8, 0.904);
    box-shadow: 0 0px 5px 0px #cbc0c0;
}

.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style: none;
}

.top ul li {
    padding-left: 4px;
}


article p {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 1rem;
    font-family: system-ui;
}
#myDIV {
    margin: auto;
    border-radius: 10%;
    /* width: 200px;
    height: 100px; */
    /* background-color: coral;
    color: white; */
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    50% {transform: rotate(180deg);}
  }


@media screen and (max-width:700px) {
    .container2 {
        height: auto;
    }

    .description {
        width: 90%;
    }
    
    .iphone-mockup{
       text-align: center;
    }
    .container{
        padding-bottom:15%;
       
       
    }
    .num{
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width:375px) {
    .reviewSection {
        padding: 0;
    }

    .reviewItem {
        width: 100%;
    }

    .clientImage {
        margin-bottom: 0.6rem;
    }

    .top {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
}